@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This course covers the practical use of asp.net </p>
<h4>@ViewData["moreinformation"]</h4>
<h4>@ViewData["moreinformation1"]</h4>